{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.apiName) }}
        {{ form_widget(form.apiName, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.apiName) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.name) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.password) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <button class="btn btn-primary btn-sm">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
