{% extends 'admin/layout/base.html.twig' %}

{% block title %}список кабинетов{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Кабинеты</span> - список</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="#">Агенство</a>
    <span class="breadcrumb-item active">Кабинеты</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <div class="card-title">

                <a href="#" class="btn btn-sm btn-primary">Обновить балансы</a>
                <a class="btn btn-primary btn-sm" href="{{ path('admin_agency_cabinet_new') }}">Добавить</a>
                <a href="{{ path('admin_agency_cabinet_load_from_file') }}" class="btn btn-sm btn-primary">Загрузить из файла</a>

                {#{{ pagination.getTotalItemCount }}#}
            </div>
            <div class="header-elements">
                {{ knp_pagination_filter(pagination, {
                    'ac.id': 'Id',
                    'ac.apiName' : 'Рекламный кабинет',
                    'ac.name' : 'Наименование',
                    'u.email' : 'Закреплён за пользователем',
                    'ac.balance' : 'Баланс',
                }) }}
            </div>
        </div>
        {#
        <div class="card-body">
            Контент
        </div>
        #}
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'ac.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Рекламный кабинет', 'ac.api_name') }}</th>
                    <th>Пароль</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Наименование', 'ac.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Закреплён за пользователем', 'u.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Баланс', 'ac.balance') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Последнее обновление', 'ac.updated_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Статус', 'ac.status') }}</th>
                    <th>Автопополнение</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for agencyCabinet in pagination %}
                    <tr>
                        <td>{{ agencyCabinet.id }}</td>
                        <td>{{ agencyCabinet.apiName }}</td>
                        <td>{{ agencyCabinet.password }}</td>
                        <td>{{ agencyCabinet.name }}</td>
                        <td><a href="{{ path('admin_user_show', {'id':agencyCabinet.user.id}) }}">{{ agencyCabinet.user }}</a></td>
                        <td>{{ agencyCabinet.balance }}</td>
                        <td>{{ agencyCabinet.updatedAt ? agencyCabinet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            {% if agencyCabinet.status == 1 %}
                                <span class="badge bg-success-400">Активный</span>
                            {% endif %}
                            {% if agencyCabinet.status == 2 %}
                                <span class="badge bg-grey-400">Удалёный</span>
                            {% endif %}
                            {% if agencyCabinet.status == 3 %}
                                <span class="badge bg-danger-400">Заблокирован</span>
                            {% endif %}
                            {% if agencyCabinet.status == 4 %}
                                <span class="badge bg-grey-600">Скрыт</span>
                            {% endif %}
                        </td>
                        <td>{{ agencyCabinet.autoCompletion ? '<span class="badge bg-success-400">Включено</span>' : '<span class="badge bg-grey-400">Выключено</span>' }}</td>
                        <td>
                            <div class="list-icons">
                                <a href="#" class="list-icons-item text-primary-600 agency-cabinet-to-user-m" data-id="{{ agencyCabinet.id }}" data-agency-cabinet-name="{{ agencyCabinet.apiName }}" title="Передать кабинет пользователю"><i class="icon-arrow-right14"></i></a>
                                <a href="#" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                <a href="#" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">{% trans %}records not found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <a class="btn btn-primary btn-sm" href="{{ path('admin_agency_cabinet_new') }}">Добавить</a>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>


    <!-- Vertical form modal -->
    <div id="agency-cabinet-to-user-m" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Передать кабинет <span id="agency-cabinet-name"></span> пользователю</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="{{ path('admin_agency_cabinet_cabinet_to_user') }}" method="post">
                    <input type="hidden" name="id" id="agency-cabinet-id">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Кому</label>
                                    <select name="user_id" class="form-control">
                                        {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.email }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn bg-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /vertical form modal -->

{% endblock %}


{% block javascripts_footer %}
    <script>
        $(document).ready(function () {
            $('.agency-cabinet-to-user-m').on('click', function (e) {
                e.preventDefault();

                var el = $(this);

                $('#agency-cabinet-id').val(el.data('id'));
                $('#agency-cabinet-name').html(el.data('agency-cabinet-name'));

                $('#agency-cabinet-to-user-m').modal();
            });
        });
    </script>
{% endblock %}
