{% extends 'admin/layout/base.html.twig' %}

{% block title %}загрузка кабинетов из файла{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Гео</span> - новое</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_agency_cabinet_index') }}">Кабинеты</a>
    <span class="breadcrumb-item active">Загрузка из файла</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Загрузить кабинеты из файла</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>
                Ошибки:
                {% for error in errors %}
                    <p>{{ error[0] }}:{{ error[1] }}</p>
                {% endfor %}
            </div>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.file) }}
                {{ form_widget(form.file , { 'attr': {'class': 'form-control'} }) }}
                <span class="form-text text-muted">{{ form_help(form.file) }}</span>

                {#<div class="form-error">
                    {{ form_errors(form.name) }}
                </div>#}
            </div>
            <button class="btn btn-primary btn-sm">{{ button_label|default('Загрузить') }}</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a class="btn btn-primary btn-sm" href="{{ path('admin_agency_cabinet_index') }}">Назад к списку</a>
        </div>
    </div>
{% endblock %}
