{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Офферы{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Офферы</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <span class="breadcrumb-item active">Офферы</span>
{% endblock %}

{% block body %}
    <div class="row">
        {% for offer in pagination %}

            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header bg-transparent header-elements-inline">
                        <h6 class="card-title">{{ offer }}</h6>
                        {#<div class="header-elements">
                            <span class="badge bg-danger">Paid</span>
                        </div>#}
                    </div>

                    <div class="card-img-actions">
                        {% if offer.image %}
                            <img class="img-fluid" src="/uploads/offers/{{ offer.image }}" alt="{{ offer }}" title="{{ offer.name }}">
                        {% else %}
                            <img class="img-fluid" src="/assets/img/noimage.png" alt="{{ offer }}" title="{{ offer.name }}">
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <p class="card-text">{{ offer.description }}.</p>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Гео</th>
                                <th>Выплата</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tariff in offer.tariffs %}
                                <tr>
                                    <td>{{ tariff.geo }}</td>
                                    <td>{{ tariff.value }} {{ tariff.currency }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('cabinet_stream_new', {'offer':offer.id}) }}" class="btn btn-primary btn-sm">Создать поток</a>
                        {#<div class="input-group">
                            <input type="text" class="form-control border-right-0" placeholder="Add comment...">

                            <span class="input-group-append">
										<button class="btn bg-blue" type="button"><i class="icon-paperplane"></i></button>
									</span>
                        </div>#}
                    </div>
                </div>
            </div>


            {#<br>
            <div>
            {% for tariff in offer.tariffs %}
                {{ tariff }} <br>
            {% endfor %}
            </div>#}
        {% endfor %}
    </div>
{% endblock %}
