<form method="get" action="{{ action }}" enctype="application/x-www-form-urlencoded">
    <div class="input-group input-group-sm wmin-sm-200">
        {% if fields|length > 1 %}
            <select name="{{ filterFieldName }}" class="form-control">
                {% for field, label in fields %}
                    <option value="{{ field }}"{% if selectedField == field %} selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        {% else %}
            <input type="hidden" name="{{ filterFieldName }}" value="{{ fields|keys|first }}" />
        {% endif %}
        <input type="search" class="form-control" placeholder="Поиск..." value="{{ selectedValue }}" name="{{ filterValueName }}" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-light btn-icon"><i class="icon-search4"></i></button>
            {# <button>{{ options.button }}</button> #}
        </div>
    </div>
</form>
