<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

    {# Sidebar mobile toggler #}
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    {# Sidebar mobile toggler end #}

    {# Sidebar content #}
    <div class="sidebar-content">

        {# User menu #}
        <div class="sidebar-user">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3">
                        <a href="#"><img src="{{ asset('/global_assets/images/image.png') }}" width="38" height="38" class="rounded-circle" alt="{{ app.user.username }}"></a>
                    </div>

                    <div class="media-body">
                        <div class="media-title font-weight-semibold">{{ app.user.username }}</div>
                        {#
                        <div class="font-size-xs opacity-50">
                            <i class="fab fa-telegram font-size-sm"></i> &nbsp;@upside_89
                        </div>
                        #}
                    </div>

                    {#
                    <div class="ml-3 align-self-center">
                        <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                    </div>
                    #}
                </div>
            </div>
        </div>
        {# User menu end #}

        {# Main navigation #}
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                {# Main #}
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Основные</div>
                    <i class="icon-menu" title="Main"></i>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_dashboard_index') }}" class="nav-link{% if route_name matches '{^admin_dashboard}' %} active{% endif %}">
                        <i class="icon-home4"></i>
                        <span>{% trans %}Dashboard{% endtrans %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_advertiser_index') }}" class="nav-link{% if route_name matches '{^admin_advertiser}' %} active{% endif %}">
                        <i class="icon-user-tie"></i>
                        <span>Рекламодатели</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_offer_index') }}" class="nav-link{% if route_name matches '{^admin_offer}' %} active{% endif %}">
                        <i class="icon-fire"></i>
                        <span>Офферы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_tariff_index') }}" class="nav-link{% if route_name matches '{^admin_tariff}' %} active{% endif %}">
                        <i class="icon-percent"></i>
                        <span>Тарифы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_stream_index') }}" class="nav-link{% if route_name matches '{^admin_stream}' %} active{% endif %}">
                        <i class="icon-link"></i>
                        <span>Потоки</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_lead_index') }}" class="nav-link{% if route_name matches '{^admin_lead}' %} active{% endif %}">
                        <i class="icon-check"></i>
                        <span>Лиды</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_click_index') }}" class="nav-link{% if route_name matches '{^admin_click}' %} active{% endif %}">
                        <i class="icon-cursor"></i>
                        <span>Клики</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_geo_index') }}" class="nav-link{% if route_name matches '{^admin_geo}' %} active{% endif %}">
                        <i class="icon-earth"></i>
                        <span>Гео</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_currency_index') }}" class="nav-link{% if route_name matches '{^admin_currency}' %} active{% endif %}">
                        <i class="icon-cash3"></i>
                        <span>Валюта</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_statistic_index') }}" class="nav-link{% if route_name matches '{^admin_statistic}' %} active{% endif %}">
                        <i class="icon-statistics"></i>
                        <span>Статистика</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_user_index') }}" class="nav-link{% if route_name matches '{^admin_user}' %} active{% endif %}">
                        <i class="icon-users2"></i>
                        <span>Пользователи</span>
                    </a>
                </li>

                <li class="nav-item nav-item-submenu{% if route_name matches '{^admin_agency}' %} nav-item-expanded nav-item-open{% endif %}">
                    <a href="#" class="nav-link"><i class="icon-sphere3"></i> <span>Агенство</span></a>

                    <ul class="nav nav-group-sub" data-submenu-title="Агенство">
                        <li class="nav-item"><a href="{{ path('admin_agency_cabinet_index') }}" class="nav-link{% if route_name matches '{^admin_agency_cabinet}' %} active{% endif %}">Кабинеты</a></li>
                        <li class="nav-item"><a href="{{ path('admin_agency_transaction_index') }}" class="nav-link{% if route_name matches '{^admin_agency_transaction}' %} active{% endif %}">Транзакции</a></li>
                    </ul>
                </li>

                {# Main end #}

            </ul>
        </div>
        {# Main navigation end #}

    </div>
    {# Sidebar content #}

</div>
