<div class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand">
        <a href="#" class="d-inline-block">
            <img src="{{ asset('/global_assets/images/logo_light.png') }}" alt="{{ app_name }}">
        </a>
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if is_granted('App\Security\RolesEnum::PREVIOUS_ADMIN') %}
                <li class="nav-item">
                    <a class="navbar-nav-link" href="{{ path('admin_dashboard_index', {'_switch_user': '_exit'}) }}">Вернуться в свой профиль</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="navbar-nav-link" href="{{ path('cabinet_dashboard_index') }}">Кабинет</a>
            </li>
            {#
            <li class="nav-item">
                <a href="#" class="navbar-nav-link">
                    Text link
                </a>
            </li>#}

            {#<li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link">
                    <i class="icon-bell2"></i>
                    <span class="d-md-none ml-2">Notifications</span>
                    <span class="badge badge-mark border-white ml-auto ml-md-0"></span>
                </a>
            </li>
            #}

            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('/global_assets/images/image.png') }}" class="rounded-circle mr-2" height="34" alt="">
                    <span>{{ app.user.username }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Профиль</a>
                    <a href="#" class="dropdown-item"><i class="icon-coins"></i> Баланс</a>
                    {#<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>#}
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Настройки</a>
                    <a href="{{ path('app_logout') }}" class="dropdown-item"><i class="icon-switch2"></i> Выход</a>
                </div>
            </li>
        </ul>
    </div>
</div>
