{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.type) }}
        {{ form_widget(form.type , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.type) }}</span>

        {% if not form.type.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.type) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.value) }}
        {{ form_widget(form.value , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.value) }}</span>

        {% if not form.value.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.value) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.offer) }}
        {{ form_widget(form.offer , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.offer) }}</span>

        {% if not form.offer.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.offer) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.currency) }}
        {{ form_widget(form.currency , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.currency) }}</span>

        {% if not form.currency.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.currency) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.geo) }}
        {{ form_widget(form.geo , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.geo) }}</span>

        {% if not form.geo.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.geo) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.user) }}
        {{ form_widget(form.user , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.user) }}</span>

        {% if not form.user.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.user) }}
            </div>
        {% endif %}
    </div>
    <div class="text-right">
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
{{ form_end(form) }}
