<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Тарифф: {{ tariff }}</h6>
        <div class="header-elements">
            <div class="list-icons">
                <div class="dropdown">
                    <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(33px, 19px, 0px);">
                        <a href="{{ path('admin_tariff_show', {'id': tariff.id}) }}" class="dropdown-item">Просмотр</a>
                        <a href="{{ path('admin_tariff_edit', {'id': tariff.id}) }}" class="dropdown-item">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div class="card-body">
        Контент
    </div>#}
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tariff.id }}</td>
            </tr>
            <tr>
                <th>Тип</th>
                <td>{{ tariff.type }}</td>
            </tr>
            <tr>
                <th>Значение</th>
                <td>{{ tariff.value }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div>

        </div>
        {{ include('admin/tariff/_delete_form.html.twig') }}
    </div>
</div>
