{% extends 'admin/layout/base.html.twig' %}

{% block title %}список тарифов{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Тарифы</span> - {% trans %}list{% endtrans %}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <span class="breadcrumb-item active">Тарифы</span>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header header-elements-inline">
        <div class="card-title">
            {{ pagination.getTotalItemCount }}
        </div>
        <div class="header-elements">
            {{ knp_pagination_filter(pagination, {'t.id': 'Id', 't.type': 'Тип', 't.value':'Значение' }) }}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 't.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Тип', 't.type') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Значение', 't.value') }}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for tariff in pagination %}
                <tr>
                    <td>{{ tariff.id }}</td>
                    <td>{{ constant('App\\Entity\\Main\\Tariff::TYPES')[tariff.type] }}</td>
                    <td>{{ tariff.value }}</td>
                    <td>
                        <a href="{{ path('admin_tariff_edit', {'id': tariff.id}) }}" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                        <a href="{{ path('admin_tariff_show', {'id': tariff.id}) }}" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <a class="btn btn-primary btn-sm" href="{{ path('admin_tariff_new') }}">Добавить</a>
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
