{% extends 'admin/layout/base.html.twig' %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans %}Dashboard{% endtrans %}</span></h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <span class="breadcrumb-item active"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</span>
{% endblock %}

{% block body %}
Консоль
{% endblock %}
