{% extends 'auth.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
        {{ form_start(registrationForm, { 'attr': {'class': 'login-form'} }) }}
        <div class="card mb-0">
            <div class="card-body">
                <div class="text-center mb-3">
                    <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0">Создать аккаунт</h5>
                    <span class="d-block text-muted">Все поля обязательные</span>
                </div>

                <div class="form-group text-center text-muted content-divider">
                    <span class="px-2">Учётные данные</span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    {{ form_widget(registrationForm.email, { 'attr': {'placeholder':'Email'} }) }}
                    <div class="form-control-feedback">
                        <i class="icon-user-check text-muted"></i>
                    </div>
                    {% for error in registrationForm.email.vars.errors %}
                        <span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'placeholder':'Пароль'} }) }}
                    <div class="form-control-feedback">
                        <i class="icon-user-lock text-muted"></i>
                    </div>
                    {% for error in registrationForm.plainPassword.first.vars.errors %}
                        <span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'placeholder':'Повторите пароль'} }) }}
                    <div class="form-control-feedback">
                        <i class="icon-user-lock text-muted"></i>
                    </div>
                    {% for error in registrationForm.plainPassword.second.vars.errors %}
                        <span class="form-text text-danger"><i class="icon-cancel-circle2 mr-2"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="form-group text-center text-muted content-divider">
                    <span class="px-2">Дополнительно</span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    {{ form_widget(registrationForm.telegram, { 'attr': {'placeholder':'Telegram'} }) }}
                    <div class="form-control-feedback">
                        <i class="icon-user-check text-muted"></i>
                    </div>
                </div>



                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'form-input-styled'}, 'label':false}) }} Accept <a href="#">terms of service</a>
                        </label>
                    </div>

                </div>

                <button type="submit" class="btn bg-teal-400 btn-block">Зарегистрироваться <i class="icon-circle-right2 ml-2"></i></button>
            </div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block stylesheets %}
<style>
    .form-check{
        display: inline-block;
    }
</style>
{% endblock %}


