{{ form_start(form) }}
{# <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>#}
    <div class="form-group">
        {{ form_label(form.status) }}
        {{ form_widget(form.status , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.status) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.name) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.description) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <div class="form-group">
        <div class="custom-file">
            {{ form_widget(form.image, { 'attr': {'class': 'custom-file-input'} }) }}
            {{ form_label(form.image, 'Image', { 'label_attr': {'class': 'custom-file-label'}}) }}
        </div>

        <span class="form-text text-muted">{{ form_help(form.image) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <div class="form-group">
        {{ form_widget(form.params) }}
        <span class="form-text text-muted">{{ form_help(form.params) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    {{ form_widget(form) }}
    <button class="btn btn-primary btn-sm">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
