<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Оффер: {{ offer }}</h6>
        <div class="header-elements">
            <div class="list-icons">
                <div class="dropdown">
                    <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(33px, 19px, 0px);">
                        <a href="{{ path('admin_offer_show', {'id': offer.id}) }}" class="dropdown-item">Просмотр</a>
                        <a href="{{ path('admin_offer_index') }}" class="dropdown-item">Список офферов</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('admin_offer_edit', {'id': offer.id}) }}" class="dropdown-item">Редактировать</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('admin_stream_new', {'offer': offer.id}) }}" class="dropdown-item">Добавить поток</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#
        <div class="card-body">
            Контент
        </div>
    #}
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Advertiser</th>
                <td>
                    <a href="{{ path('admin_advertiser_show', {'id': offer.advertiser.id}) }}" >{{ offer.advertiser }}</a>
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ offer.status }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ offer.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ offer.image }}</td>
            </tr>
            <tr>
                <th>Params</th>
                <td>{{ offer.params ? offer.params|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ offer.updatedAt ? offer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div>

        </div>
        {{ include('admin/offer/_delete_form.html.twig') }}
    </div>
</div>