{% extends 'admin/layout/base.html.twig' %}

{% block title %}список офферов{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Офферы</span> - список</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <span class="breadcrumb-item active">Офферы</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <div class="card-title">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="header-elements">
                {{ knp_pagination_filter(pagination, {'o.id': 'Id', 'o.name': 'Name', 'o.status':'Status', 'o.created_at':'Created', 'o.updated_at':'Updated' }) }}
            </div>
        </div>
        {#<div class="card-body">
            {{ dump(pagination) }}
        </div>#}
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'o.id') }}</th>
                    <th>{% trans %}Image{% endtrans %}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Advertiser', 'a.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Status', 'o.status') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Name', 'o.name') }}</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                    {#<th>{% trans %}Parameters{% endtrans %}</th>#}
                    <th>Тарифы</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created', 'o.created_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Updated', 'o.updated_at') }}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for offer in pagination %}
                    <tr>
                        <td>{{ offer.id }}</td>
                        <td>
                            {% if offer.image %}
                                <img class="img-fluid img-thumbnail" alt="{{ offer.image }}" title="{{ offer }}" src="/uploads/offers/{{ offer.image }}" width="100px">
                            {% else %}
                                <img class="img-fluid img-thumbnail" alt="noimage" title="{{ offer }}" src="/assets/img/noimage.png" width="100px">
                            {% endif %}
                        </td>
                        <td><a href="{{ path('admin_advertiser_show', {'id':offer.advertiser.id}) }}">{{ offer.advertiser }}</a></td>
                        <td>
                            {% if offer.status == constant('App\\Entity\\Main\\Offer::STATUS_ACTIVE') %}
                                <span class="badge bg-success-400">{{ constant('App\\Entity\\Main\\Offer::STATUSES')[offer.status] }}</span>
                            {% elseif offer.status == constant('App\\Entity\\Main\\Offer::STATUS_INACTIVE') %}
                                <span class="badge bg-danger">{{ constant('App\\Entity\\Main\\Offer::STATUSES')[offer.status] }}</span>
                            {% else %}
                                <span class="badge bg-grey-400">Неизвесный статус ({{ offer.status }})</span>
                            {% endif %}
                        </td>
                        <td>{{ offer.name }}</td>
                        <td>{{ offer.description }}</td>
                        {#<td>{{ offer.params ? offer.params|json_encode : '' }}</td>#}
                        <td>
                            {% for tariff in offer.tariffs %}
                                <a href="{{ path('admin_tariff_show', {'id': tariff.id}) }}" class="badge badge-warning"> {{ constant('App\\Entity\\Main\\Tariff::TYPES')[tariff.type] }} {{ tariff.geo }} {{ tariff.value }} {{ tariff.currency }}</a>
                            {% else %}
                                -
                            {% endfor %}
                        </td>
                        <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ offer.updatedAt ? offer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <div class="list-icons">
                                <a href="{{ path('admin_stream_new', {'offer': offer.id}) }}" title="Добавить поток" class="list-icons-item text-primary-600"><i class="icon-add"></i></a>
                                <a href="{{ path('admin_offer_edit', {'id': offer.id}) }}" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                <a href="{{ path('admin_offer_show', {'id': offer.id}) }}" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">{% trans %}records not found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div>
                {# TODO: Добавить кнопку для создания офферов #}
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
