{% extends 'admin/layout/base.html.twig' %}

{% block title %}Offer{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Offer</span> - {{ offer.name }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_offer_index') }}">Offer</a>
    <span class="breadcrumb-item active">{{ offer.name }}</span>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            {{ include('admin/offer/card.html.twig') }}
        </div>
        <div class="col-lg-6">
            {{ include('admin/advertiser/card.html.twig', {'advertiser':offer.advertiser}) }}
        </div>
    </div>
{% endblock %}
