{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Главная</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
<span class="breadcrumb-item active"><i class="icon-home2 mr-2"></i> Главная</span>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Заработок</h6>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Клики</h6>
                </div>
                <table class="table table-sm">
                    <tr>
                        <th>За текущий час</th>
                        <td>{{ clicks.hour|number_format(0, '', ' ') }}</td>
                    </tr>
                    <tr>
                        <th>За текущие сутки</th>
                        <td>{{ clicks.day|number_format(0, '', ' ') }}</td>
                    </tr>
                    <tr>
                        <th>За текущую неделю</th>
                        <td>{{ clicks.week|number_format(0, '', ' ') }}</td>
                    </tr>
                    <tr>
                        <th>За текущий месяц ({{ 'now'|date('F')|trans }})</th>
                        <td>{{ clicks.month|number_format(0, '', ' ') }}</td>
                    </tr>
                    <tr>
                        <th>За текущий квартал</th>
                        <td>{{ clicks.month3|number_format(0, '', ' ') }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Лиды</h6>
                </div>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Новый</th>
                        <th>Принятых</th>
                        <th>Откланеных</th>
                        <th>Треш</th>
                        <th>Всего</th>
                    </tr>
                    <tr>
                        <th>За текущий час</th>
                        <td>{{ leads.hour.new }}</td>
                        <td>{{ leads.hour.confirm }}</td>
                        <td>{{ leads.hour.decline }}</td>
                        <td>{{ leads.hour.trash }}</td>
                        <td>{{ leads.hour.total }}</td>
                    </tr>
                    <tr>
                        <th>За текущие сутки</th>
                        <td>{{ leads.day.new }}</td>
                        <td>{{ leads.day.confirm }}</td>
                        <td>{{ leads.day.decline }}</td>
                        <td>{{ leads.day.trash }}</td>
                        <td>{{ leads.day.total }}</td>
                    </tr>
                    <tr>
                        <th>За текущую неделю</th>
                        <td>{{ leads.week.new }}</td>
                        <td>{{ leads.week.confirm }}</td>
                        <td>{{ leads.week.decline }}</td>
                        <td>{{ leads.week.trash }}</td>
                        <td>{{ leads.week.total }}</td>
                    </tr>
                    <tr>
                        <th>За текущий месяц ({{ 'now'|date('F')|trans }})</th>
                        <td>{{ leads.month.new }}</td>
                        <td>{{ leads.month.confirm }}</td>
                        <td>{{ leads.month.decline }}</td>
                        <td>{{ leads.month.trash }}</td>
                        <td>{{ leads.month.total }}</td>
                    </tr>
                    <tr>
                        <th>За текущий квартал</th>
                        <td>{{ leads.month3.new }}</td>
                        <td>{{ leads.month3.confirm }}</td>
                        <td>{{ leads.month3.decline }}</td>
                        <td>{{ leads.month3.trash }}</td>
                        <td>{{ leads.month3.total }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Топ ...</h6>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Топ гео</h6>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Топ офферов</h6>
                </div>
                <table class="table table-sm">
                    <tr>
                        <th>Оффер</th>
                        <th>Новых лидов</th>
                        <th>Подтверждёных лидов</th>
                        <th>Откланеных лидов</th>
                        <th>Треш лидов</th>
                        <th>Всего лидов</th>
                    </tr>
                    {% for offer in topOffers %}
                        <tr>
                            <td class="nobr"><a href="#{{ offer.id }}">{{ offer.name }}</a></td>
                            <td>{{ offer.new }}</td>
                            <td>{{ offer.confirm }}</td>
                            <td>{{ offer.decline }}</td>
                            <td>{{ offer.trash }}</td>
                            <td>{{ offer.total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
