{{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.email) }}</span>

        {% if not form.email.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.email) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.plainPassword) }}</span>

        {% if not form.plainPassword.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.plainPassword) }}
            </div>
        {% endif %}
    </div>

    <div class="text-right">
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
{{ form_end(form) }}
