<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Пользователь: {{ user }}</h6>
        <div class="header-elements">
            <div class="list-icons">
                <div class="dropdown">
                    <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(33px, 19px, 0px);">
                        <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="dropdown-item">Просмотр</a>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="dropdown-item">Редактировать</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('admin_user_index') }}" class="dropdown-item">Список пользователей</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div class="card-body">
        Контент
    </div>#}
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Роли</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Created{% endtrans %}</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updated{% endtrans %}</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div>

        </div>
        {{ include('admin/user/_delete_form.html.twig') }}
    </div>
</div>