{% extends 'admin/layout/base.html.twig' %}

{% block title %}список пользователей{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Пользователи</span> - список</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <span class="breadcrumb-item active">Пользователи</span>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header header-elements-inline">
        <div class="card-title">
            {{ pagination.getTotalItemCount }}
        </div>
        <div class="header-elements">
            {{ knp_pagination_filter(pagination, {
                'u.id': 'Id',
                'u.email': 'Name',
                'u.created_at':'Created',
                'u.updated_at':'Updated'
            }) }}
        </div>
    </div>
    {#
    <div class="card-body">
        Контент
    </div>
    #}
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                <th>Телеграм</th>
                <th>Балансы</th>
                <th>Роли</th>
                <th>{{ knp_pagination_sortable(pagination, 'Created', 'u.created_at') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Updated', 'u.updated_at') }}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.telegram %}
                        <a href="tg://resolve?domain={{ user.telegram }}">{{ user.telegram }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% for balance in user.userBalances %}
                            <p>{{ balance.amount }} {{ balance.currency.code }} <small>({{ constant('App\\Entity\\Main\\UserBalance::TYPES')[balance.type] }})</small></p>
                        {% endfor %}
                    </td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <div class="list-icons">
                            {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and user.id != app.user.id %}
                                <a href="{{ path('cabinet_dashboard_index', {'_switch_user': user.email}) }}" title="Войти под пользователем {{ user.email }}"><i class="icon-new-tab"></i></a>
                            {% endif %}
                            <a href="{{ path('admin_stream_new', {'offer':1,'user': user.id}) }}" title="Добавить поток" class="list-icons-item text-primary-600"><i class="icon-add"></i></a>
                            <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                            <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                            <a href="#" data-id="{{ user.id }}" class="list-icons-item text-primary-600 add-user-balance-m" title="Пополнить баланс пользователя {{ user.email }}"><i class="icon-coin-dollar"></i></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{% trans %}records not found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <a class="btn btn-primary btn-sm" href="{{ path('admin_user_new') }}">Добавить</a>
        {{ knp_pagination_render(pagination) }}
    </div>
</div>


    <!-- Vertical form modal -->
    <div id="add-user-balance-m" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Пополнить баланс</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="{{ path('admin_user_balance_edit') }}" method="post">
                    <input type="hidden" name="id" id="user_id">
                    <div class="modal-body">
                        <div class="form-group">

                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <label>Тип баланса</label>
                                    <select name="balance_type" class="form-control">
                                        {% for key, balanceType in balanceTypes %}
                                            <option value="{{ key }}">{{ balanceType }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="amount">Пополнить на</label>
                                    <input type="text" name="amount" id="amount" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn bg-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /vertical form modal -->

{% endblock %}


{% block javascripts_footer %}
    <script>
        $(document).ready(function () {
            $('.add-user-balance-m').on('click', function (e) {
                e.preventDefault();
                var el = $(this);
                $('#user_id').val(el.data('id'));
                $('#add-user-balance-m').modal();
            });

        });
    </script>
{% endblock %}
