{% extends 'admin/layout/base.html.twig' %}

{% block title %}новый пользователь{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Пользователи</span> - новый</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_user_index') }}">Пользователи</a>
    <span class="breadcrumb-item active">Новый пользователь</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Создать нового пользователя</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ include('admin/user/_form.html.twig') }}
        </div>
        <div class="card-footer">
            <a class="btn btn-primary btn-sm" href="{{ path('admin_user_index') }}">Назад к списку</a>
        </div>
    </div>
{% endblock %}
