{% extends 'admin/layout/base.html.twig' %}

{% block title %}просмотр пользователя {{ user.username }}{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans %}Users{% endtrans %}</span> - {{ user.username }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_user_index') }}">{% trans %}Users{% endtrans %}</a>
    <span class="breadcrumb-item active">{{ user.username }}</span>
{% endblock %}

{% block body %}
    {{ include('admin/user/card.html.twig') }}
{% endblock %}
