{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.name) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <div class="form-group">
        {{ form_label(form.status) }}
        {{ form_widget(form.status , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.status) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <div class="form-group">
        {{ form_label(form.user) }}
        {{ form_widget(form.user , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.user) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <div class="form-group">
        {{ form_label(form.offer) }}
        {{ form_widget(form.offer , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.offer) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <button class="btn btn-primary btn-sm">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
