<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Поток: {{ stream }}</h6>
    </div>
    {#<div class="card-body">
        Контент
    </div>#}
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stream.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ stream.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ stream.status }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ stream.createdAt ? stream.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ stream.updatedAt ? stream.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="{{ path('admin_stream_index') }}">back to list</a>
        <a class="btn btn-primary btn-sm" href="{{ path('admin_stream_edit', {'id': stream.id}) }}">edit</a>
        {{ include('admin/stream/_delete_form.html.twig') }}
    </div>
</div>