{% extends 'admin/layout/base.html.twig' %}

{% block title %}список потоков{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Потоки</span> - список</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <span class="breadcrumb-item active">Потоки</span>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header header-elements-inline">
        <div class="card-title">
            {{ pagination.getTotalItemCount }}
        </div>
        <div class="header-elements">
            {{ knp_pagination_filter(pagination, {
                's.id': 'Id',
                'o.id' : 'Оффер (id)',
                'u.id' : 'Пользователь (id)',
                's.name' : 'Название',
                's.status' : 'Статус',
                's.created_at' : 'Created',
                's.updated_at' : 'Updated'
            }) }}
        </div>
    </div>
    {#<div class="card-body">
        Контент
    </div>#}
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Оффер', 'o.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Пользователь', 'u.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Название', 's.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Статус', 's.status') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Created', 's.created_at') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Updated', 's.updated_at') }}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for stream in pagination %}
                <tr>
                    <td>{{ stream.id }}</td>
                    <td><a href="{{ path('admin_offer_show', {'id':stream.offer.id}) }}">{{ stream.offer }}</a><small> (id: {{ stream.offer.id }})</small></td>
                    <td><a href="{{ path('admin_user_show', {'id':stream.trafficSource.user.id}) }}">{{ stream.trafficSource.user }}</a><small> (id: {{ stream.trafficSource.user.id }})</small></td>
                    <td>{{ stream.name }}</td>
                    <td>
                        {% if stream.status == constant('App\\Entity\\Main\\Stream::STATUS_ACTIVE') %}
                            <span class="badge bg-success-400">{{ constant('App\\Entity\\Main\\Stream::STATUSES')[stream.status] }}</span>
                        {% elseif stream.status == constant('App\\Entity\\Main\\Stream::STATUS_INACTIVE') %}
                            <span class="badge bg-danger">{{ constant('App\\Entity\\Main\\Stream::STATUSES')[stream.status] }}</span>
                        {% else %}
                            <span class="badge bg-grey-400">Неизвесный статус ({{ stream.status }})</span>
                        {% endif %}
                    </td>
                    <td>{{ stream.createdAt ? stream.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ stream.updatedAt ? stream.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <div class="list-icons">
                            <a href="{{ path('admin_stream_edit', {'id': stream.id}) }}" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                            <a href="{{ path('admin_stream_show', {'id': stream.id}) }}" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{% trans %}records not found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <a class="btn btn-primary btn-sm" href="{{ path('admin_stream_new') }}">Добавить</a>
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
