{% extends 'admin/layout/base.html.twig' %}

{% block title %}поток {{ stream }}{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Потоки</span> - {{ stream }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_stream_index') }}">Потоки</a>
    <span class="breadcrumb-item active">{{ stream }}</span>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            {{ include('admin/stream/card.html.twig') }}
        </div>
        <div class="col-lg-6">
            {{ include('admin/user/card.html.twig', {'user':stream.user}) }}
            {{ include('admin/offer/card.html.twig', {'offer':stream.offer}) }}
        </div>
    </div>
{% endblock %}
