<table class="table table-sm table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Сумма</th>
        <th>Дата создания</th>
    </tr>
    </thead>
    <tbody>
    {% for userBalanceTransaction in pagination %}
        <tr>
            <td>{{ userBalanceTransaction.id }}</td>
            <td>{{ userBalanceTransaction.amount }}</td>
            <td>{{ userBalanceTransaction.createdAt ? userBalanceTransaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
