{{ form_start(form) }}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Статистика</h6>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.group_1) }}
                        {{ form_widget(form.group_1, { 'attr': {'class': 'form-control-sm select-search', 'data-container-css-class': 'select-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.group_2) }}
                        {{ form_widget(form.group_2, { 'attr': {'class': 'form-control-sm select-search', 'data-container-css-class': 'select-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.group_3) }}
                        {{ form_widget(form.group_3, { 'attr': {'class': 'form-control-sm select-search', 'data-container-css-class': 'select-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.date) }}
                        <div class="input-group">
                            {{ form_widget(form.date, { 'attr': {'class': 'form-control-sm daterange-locale'} }) }}
                            <span class="input-group-append">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.stream_id) }}
                        {{ form_widget(form.stream_id, { 'attr': {'class': 'form-control-sm select-search', 'data-container-css-class': 'select-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.offer_id) }}
                        {{ form_widget(form.offer_id, { 'attr': {'class': 'form-control-sm select-search', 'data-container-css-class': 'select-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.geo_id) }}
                        {{ form_widget(form.geo_id, { 'attr': {'class': 'form-control-sm select-search', 'data-container-css-class': 'select-sm'} }) }}
                    </div>
                </div>
            </div>

            <span class="font-weight-semibold cursor-pointer" data-toggle="collapse" data-target="#tokens">
                Токены <i class="icon-circle-down2"></i>
            </span>
            <div class="collapse" id="tokens">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token1_id) }}
                            {{ form_widget(form.token1_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token2_id) }}
                            {{ form_widget(form.token2_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token3_id) }}
                            {{ form_widget(form.token3_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token4_id) }}
                            {{ form_widget(form.token4_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token5_id) }}
                            {{ form_widget(form.token5_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token6_id) }}
                            {{ form_widget(form.token6_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token7_id) }}
                            {{ form_widget(form.token7_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token8_id) }}
                            {{ form_widget(form.token8_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token9_id) }}
                            {{ form_widget(form.token9_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token10_id) }}
                            {{ form_widget(form.token10_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token11_id) }}
                            {{ form_widget(form.token11_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token12_id) }}
                            {{ form_widget(form.token12_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token13_id) }}
                            {{ form_widget(form.token13_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token14_id) }}
                            {{ form_widget(form.token14_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token15_id) }}
                            {{ form_widget(form.token15_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token16_id) }}
                            {{ form_widget(form.token16_id, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button class="btn btn-primary btn-sm" type="submit">Применить</button>
        </div>
    </div>
{{ form_end(form) }}
