{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Статистика</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <span class="breadcrumb-item active">Статистика</span>
{% endblock %}

{% block body %}
    {{ include('cabinet/statistic/_form.html.twig') }}
    <div class="card">
        <div class="card-header">
            <h6>Статитика</h6>
        </div>
        {#{{ dump(form.vars) }}
        {{ dump(app.request.query.all) }}#}
        <div id='jqxWidget'>
            <div id="grid"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.material.css" type="text/css" />
    <style>
        .card .jqx-grid{
            border-left: none;
            border-right: none;
            border-bottom: none;
        }
    </style>
{% endblock %}

{% block javascripts_footer %}
    <script src="/jqwidgets/jqx-all.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '{{ path('cabinet_statistic_jqx_grid', app.request.query.all)|raw }}',
                type: 'get',
                success: function(data){
                    console.log(data);
                    $("#grid").jqxGrid(data);
                }
            });
        });
    </script>
{% endblock %}