<div class="card">
    <div class="card-header">
        <h6 class="card-title">Клик: {{ click }}</h6>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ click.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ click.createdAt ? click.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ click.updatedAt ? click.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="{{ path('admin_click_index') }}">Назад к списку</a>
        <a class="btn btn-primary btn-sm" href="{{ path('admin_click_edit', {'id': click.id}) }}">Редактировать</a>
        {{ include('admin/click/_delete_form.html.twig') }}
    </div>
</div>