{% extends 'admin/layout/base.html.twig' %}

{% block title %}Edit Click{% endblock %}

{% block body %}
    <h1>Edit Click</h1>

    {{ include('admin/click/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btn-sm" href="{{ path('admin_click_index') }}">Назад к списку</a>

    {{ include('admin/click/_delete_form.html.twig') }}
{% endblock %}
