{% extends 'admin/layout/base.html.twig' %}

{% block title %}список кликов{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Клики</span> - список</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <span class="breadcrumb-item active">Клики</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <div class="card-title">{{ pagination.getTotalItemCount }}</div>
            <div class="header-elements">
                {{ knp_pagination_filter(pagination, {'c.id': 'Id', 'l.id': 'Lead ID', 'c.created_at':'Created'}) }}
            </div>
        </div>
        {#<div class="card-body">

        </div>#}
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Lead ID', 'l.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created', 'c.created_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Updated', 'c.updated_at') }}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for click in pagination %}
                    <tr>
                        <td>id: {{ click.id }} <small>uuid: ({{ click.uuid }})</small></td>
                        <td>{% if click.lead %}<a href="{{ path('admin_lead_show', {'id': click.lead.id}) }}">{{ click.lead }} <small>uuid: ({{ click.lead.uuid }})</small></a>{% endif %}</td>
                        <td>{{ click.createdAt ? click.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ click.updatedAt ? click.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <div class="list-icons">
                                {% if not click.lead %}
                                <a href="{{ path('admin_lead_new', {'click': click}) }}" title="Добавить лид" class="list-icons-item text-primary-600"><i class="icon-add"></i></a>
                                {% endif %}
                                <a href="{{ path('admin_click_edit', {'id': click.id}) }}" title="Редактировать" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                <a href="{{ path('admin_click_show', {'id': click.id}) }}" title="Просмотр" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{% trans %}records not found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <a class="btn btn-primary btn-sm" href="{{ path('admin_click_new') }}">Добавить</a>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
