{% extends 'admin/layout/base.html.twig' %}

{% block title %}New Click{% endblock %}

{% block body %}
    <h1>Create new Click</h1>

    {{ include('admin/click/_form.html.twig') }}

    <a href="{{ path('admin_click_index') }}">back to list</a>
{% endblock %}
