{% extends 'admin/layout/base.html.twig' %}

{% block title %}клик {{ click }}{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Клики</span> - {{ click }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_click_index') }}">Клики</a>
    <span class="breadcrumb-item active">{{ click }}</span>
{% endblock %}

{% block body %}
    {{ include('admin/click/card.html.twig') }}
{% endblock %}
