<form class="d-inline-block" method="post" action="{{ path('admin_lead_delete', {'id': lead.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lead.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
