<div class="card">
    <div class="card-header">
        <h6 class="card-title">Лид: {{ lead }}</h6>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lead.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ lead.status }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ lead.comment }}</td>
            </tr>
            <tr>
                <th>CpaId</th>
                <td>{{ lead.cpaId }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ lead.createdAt ? lead.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ lead.updatedAt ? lead.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="{{ path('admin_lead_index') }}">back to list</a>
        <a class="btn btn-primary btn-sm" href="{{ path('admin_lead_edit', {'id': lead.id}) }}">edit</a>
        {{ include('admin/lead/_delete_form.html.twig') }}
    </div>
</div>