{% extends 'admin/layout/base.html.twig' %}

{% block title %}Edit Lead{% endblock %}

{% block body %}
    <h1>Edit Lead</h1>

    {{ include('admin/lead/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_lead_index') }}">back to list</a>

    {{ include('admin/lead/_delete_form.html.twig') }}
{% endblock %}
