{% extends 'admin/layout/base.html.twig' %}

{% block title %}список лидов{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Лиды</span> - список</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <span class="breadcrumb-item active">Лиды</span>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header header-elements-inline">
        <div class="card-title">
            {{ pagination.getTotalItemCount }}
        </div>
        <div class="header-elements">
            {{ knp_pagination_filter(pagination, {
                'l.id': 'Id',
                'c.id': 'Click',
                'l.status': 'Статус',
                'l.cpaId': 'CpaId',
                'l.created_at':'Created',
                'l.updated_at':'Updated'
            }) }}
        </div>
    </div>
    {#<div class="card-body">
        Контент
    </div>#}
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'l.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Click', 'c.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Статус', 'l.status') }}</th>
                <th>Цена</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Коментарий</th>
                <th>{{ knp_pagination_sortable(pagination, 'CpaId', 'l.cpaId') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Создан', 'l.created_at') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Изменён', 'l.updated_at') }}</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for lead in pagination %}
                <tr>
                    <td>{{ lead.id }}</td>
                    <td><a href="{{ path('admin_click_show', {'id':lead.click.id}) }}">{{ lead.click }}</a></td>
                    <td>
                        {% if lead.status == constant('App\\Entity\\Main\\Lead::STATUS_NEW') %}
                            <span class="badge bg-blue">{{ constant('App\\Entity\\Main\\Lead::STATUSES')[lead.status] }}</span>
                        {% elseif lead.status == constant('App\\Entity\\Main\\Lead::STATUS_CONFIRM') %}
                            <span class="badge bg-success-400">{{ constant('App\\Entity\\Main\\Lead::STATUSES')[lead.status] }}</span>
                        {% elseif lead.status == constant('App\\Entity\\Main\\Lead::STATUS_DECLINE') %}
                            <span class="badge bg-danger">{{ constant('App\\Entity\\Main\\Lead::STATUSES')[lead.status] }}</span>
                        {% elseif lead.status == constant('App\\Entity\\Main\\Lead::STATUS_TRASH') %}
                            <span class="badge bg-violet">{{ constant('App\\Entity\\Main\\Lead::STATUSES')[lead.status] }}</span>
                        {% else %}
                            <span class="badge bg-grey-400">Неизвесный статус ({{ lead.status }})</span>
                        {% endif %}
                    </td>
                    <td>{{ lead.price }} {{ lead.currency.code }}</td>
                    <td>{{ lead.name }}</td>
                    <td>{{ lead.phone }}</td>
                    <td>{{ lead.comment }}</td>
                    <td>{{ lead.cpaId }}</td>
                    <td>{{ lead.createdAt ? lead.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ lead.updatedAt ? lead.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <div class="list-icons">
                            <a href="{{ path('admin_lead_edit', {'id': lead.id}) }}" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                            <a href="{{ path('admin_lead_show', {'id': lead.id}) }}" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">{% trans %}records not found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer  d-flex justify-content-between align-items-center">
        {#<a class="btn btn-primary btn-sm" href="{{ path('admin_lead_new') }}">Добавить</a>#}
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
