{% extends 'admin/layout/base.html.twig' %}

{% block title %}New Lead{% endblock %}

{% block body %}
    <h1>Create new Lead</h1>

    {{ include('admin/lead/_form.html.twig') }}

    <a href="{{ path('admin_lead_index') }}">back to list</a>
{% endblock %}
