{% extends 'admin/layout/base.html.twig' %}

{% block title %}Lead{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Лиды</span> - {{ lead }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_lead_index') }}">Лиды</a>
    <span class="breadcrumb-item active">{{ lead }}</span>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            {{ include('admin/lead/card.html.twig') }}
        </div>
        <div class="col-lg-6">
            {{ include('admin/click/card.html.twig', {'click': lead.click}) }}
        </div>

    </div>
{% endblock %}
