{{ form_start(form) }}
<div class="card">
    <div class="card-header">
        <h6 class="card-title">Персоональные настройки</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <fieldset class="col-md-8">
                Тест
            </fieldset>
            <fieldset class="col-md-4">
                <legend class="text-uppercase font-size-sm font-weight-bold">Настройки токенов</legend>
                {% for token in  form.params.children.tokens.children %}
                    <div class="form-group">
                        {{ form_label(token) }}
                        {{ form_widget(token , { 'attr': {'class': 'form-control'} }) }}
                        <span class="form-text text-muted">{{ form_help(token) }}</span>
                        {#<div class="form-error">
                            {{ form_errors(form.name) }}
                        </div>#}
                    </div>
                {% endfor %}
            </fieldset>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary btn-sm">{{ button_label|default('Сохранить') }}</button>
    </div>
</div>
{{ form_end(form) }}
