{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Профиль</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <span class="breadcrumb-item active">Профиль</span>
{% endblock %}

{% block body %}
    {{ include('cabinet/profile/_form.html.twig') }}
{% endblock %}
