<form class="d-inline-block" method="post" action="{{ path('admin_advertiser_delete', {'id': advertiser.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advertiser.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
