{{ form_start(form) }}
   {# <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>#}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.name) }}</span>

        {% if not form.name.vars.valid %}
        <div class="form-text text-danger">
            {{ form_errors(form.name) }}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.status) }}
        {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.status) }}</span>

        {% if not form.status.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.status) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_widget(form.params) }}
        <span class="form-text text-muted">{{ form_help(form.params) }}</span>

        {% if not form.params.vars.valid %}
            <div class="form-text text-danger">
                {{ form_errors(form.params) }}
            </div>
        {% endif %}
    </div>
    <div class="text-right">
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
{{ form_end(form) }}

