<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Рекламодатель: {{ advertiser }}</h6>
        <div class="header-elements">
            <div class="list-icons">
                <div class="dropdown">
                    <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(33px, 19px, 0px);">
                        <a href="{{ path('admin_advertiser_show', {'id': advertiser.id}) }}" class="dropdown-item">Просмотр</a>
                        <a href="{{ path('admin_advertiser_edit', {'id': advertiser.id}) }}" class="dropdown-item">Редактировать</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('admin_offer_new', {'advertiser': advertiser.id}) }}" class="dropdown-item">Добавить оффер</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div class="card-body">
        Контент
    </div>#}
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advertiser.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ advertiser.name }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ constant('App\\Entity\\Main\\Advertiser::STATUSES')[advertiser.status] }}</td>
            </tr>
            <tr>
                <th>Апи</th>
                <td>{{ constant('App\\AdvertisersApi\\AdvertisersApiInterface::ADVERTISERS')[advertiser.apiId] }}</td>
            </tr>
            <tr>
                <th>Параметры</th>
                <td>{{ advertiser.params ? advertiser.params|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Создан</th>
                <td>{{ advertiser.createdAt ? advertiser.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Изменён</th>
                <td>{{ advertiser.updatedAt ? advertiser.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div>

        </div>
        {{ include('admin/advertiser/_delete_form.html.twig') }}
    </div>
</div>
