{% extends 'admin/layout/base.html.twig' %}

{% block title %}список рекламодателей{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{% trans %}Advertisers{% endtrans %}</span> - {% trans %}list{% endtrans %}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <span class="breadcrumb-item active">{% trans %}Advertisers{% endtrans %}</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <div class="card-title">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="header-elements">
                {{ knp_pagination_filter(pagination, {'a.id': 'Id', 'a.name': 'Name', 'a.status':'Status', 'a.apiId':'API (id)', 'a.created_at':'Created', 'a.updated_at':'Updated' }) }}
            </div>
        </div>
        {#<div class="card-body">
            {{ dump(pagination) }}
        </div>#}
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Status', 'a.status') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'API', 'a.apiId') }}</th>
                    <th>{% trans %}Parameters{% endtrans %}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created', 'a.created_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Updated', 'a.updated_at') }}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for advertiser in pagination %}
                    <tr>
                        <td>{{ advertiser.id }}</td>
                        <td>{{ advertiser.name }}</td>
                        <td>
                            {% if advertiser.status == constant('App\\Entity\\Main\\Advertiser::STATUS_ACTIVE') %}
                                <span class="badge bg-success-400">{{ constant('App\\Entity\\Main\\Advertiser::STATUSES')[advertiser.status] }}</span>
                            {% elseif advertiser.status == constant('App\\Entity\\Main\\Advertiser::STATUS_INACTIVE') %}
                                <span class="badge bg-danger">{{ constant('App\\Entity\\Main\\Advertiser::STATUSES')[advertiser.status] }}</span>
                            {% else %}
                                <span class="badge bg-grey-400">Неизвесный статус ({{ advertiser.status }})</span>
                            {% endif %}
                        </td>
                        <td>{{ constant('App\\AdvertisersApi\\AdvertisersApiInterface::ADVERTISERS')[advertiser.apiId] }} <small>(id: {{ advertiser.apiId }})</small></td>
                        <td>{{ advertiser.params ? advertiser.params|json_encode : '' }}</td>
                        <td>{{ advertiser.createdAt ? advertiser.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ advertiser.updatedAt ? advertiser.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <div class="list-icons">
                                <a href="{{ path('admin_offer_new', {'advertiser': advertiser.id}) }}" title="Добавить оффер" class="list-icons-item text-primary-600"><i class="icon-add"></i></a>
                                <a href="{{ path('admin_advertiser_edit', {'id': advertiser.id}) }}" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                <a href="{{ path('admin_advertiser_show', {'id': advertiser.id}) }}" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">{% trans %}records not found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div>
                <a class="btn btn-primary btn-sm" href="{{ path('admin_advertiser_new', {'apiId':1}) }}">Добавить LuckyOnline</a>
                <a class="btn btn-primary btn-sm" href="{{ path('admin_advertiser_new', {'apiId':2}) }}">Добавить LeadVertex</a>
                <a class="btn btn-primary btn-sm" href="{{ path('admin_advertiser_new', {'apiId':3}) }}">Добавить Everad</a>
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
