{% extends 'admin/layout/base.html.twig' %}

{% block title %}рекламодатель {{ advertiser }}{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Рекламодатели</span> - {{ advertiser }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_advertiser_index') }}">Рекламодатели</a>
    <span class="breadcrumb-item active">{{ advertiser }}</span>
{% endblock %}

{% block body %}
    {{ include('admin/advertiser/card.html.twig') }}

    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Офферы
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>{% trans %}Image{% endtrans %}</th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <th>{% trans %}Parameters{% endtrans %}</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for offer in offers %}
                    <tr>
                        <td>{{ offer.id }}</td>
                        <td>{{ offer.image }}</td>
                        <td>{{ constant('App\\Entity\\Main\\Offer::STATUSES')[offer.status] }}</td>
                        <td>{{ offer.name }}</td>
                        <td>{{ offer.description }}</td>
                        <td>{{ offer.params ? offer.params|json_encode : '' }}</td>
                        <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ offer.updatedAt ? offer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <div class="list-icons">
                                <a href="{{ path('admin_stream_new', {'offer': offer.id}) }}" title="Добавить поток" class="list-icons-item text-primary-600"><i class="icon-add"></i></a>
                                <a href="{{ path('admin_offer_edit', {'id': offer.id}) }}" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                <a href="{{ path('admin_offer_show', {'id': offer.id}) }}" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">{% trans %}records not found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
