<form method="post" class="d-inline-block" action="{{ path('cabinet_traffic_source_delete', {'id': traffic_source.id}) }}" onsubmit="return confirm('Вы уверены что хотите удалить источник?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ traffic_source.id) }}">
    <button class="btn btn-sm btn-danger">Удалить</button>
</form>
