{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Редактировать источник трафика{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Источники трафика</span> - редактировать: {{ traffic_source.title }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <a class="breadcrumb-item" href="{{ path('cabinet_traffic_source_index') }}">Источники трафика</a>
    <span class="breadcrumb-item active">редактировать: {{ traffic_source.title }}</span>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Редактировать источник трафика</h5>
    </div>
    <div class="card-body">
        {{ include('cabinet/traffic_source/_form.html.twig', {'button_label': 'Cохранить'}) }}
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="{{ path('cabinet_traffic_source_index') }}">Назад к списку</a>
        {{ include('cabinet/traffic_source/_delete_form.html.twig') }}
    </div>
</div>

{% endblock %}
