{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Источники трафика{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span
                class="font-weight-semibold">Источники трафика</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <span class="breadcrumb-item active">Источники трафика</span>
{% endblock %}

{% block body %}
    <div class="card">
        {#<div class="card-body">
            Контент
        </div>#}
        <div class="table-responsive">
            <table class="table table-striped table-xs">

                <thead>
                <tr>
                    <th>Название</th>
                    <th>Модерация</th>
                    <th>Тип источника</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for traffic_source in traffic_sources %}
                    <tr>
                        <td>{{ traffic_source.title }}</td>
                        <td>{{ moderation_statuses[traffic_source.moderation] }}</td>
                        <td>{{ traffic_source.sourceType|bit_dictionary(source_types) }}</td>
                        <td>
                            <div class="list-icons">
                                <a href="{{ path('cabinet_traffic_source_edit', {'id': traffic_source.id}) }}"
                                   class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                <a href="{{ path('cabinet_traffic_source_show', {'id': traffic_source.id}) }}"
                                   class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                                <a href="{{ path('cabinet_traffic_source_delete', {'id': traffic_source.id}) }}"
                                   class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Источники ещё не созданы</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <a class="btn btn-primary btn-sm" href="{{ path('cabinet_traffic_source_new') }}">Создать источник
                    трафика</a>
            </div>
        </div>
    </div>
{% endblock %}
