{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Источник трафика {{ traffic_source.title }}{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Источники трафика</span>
        - {{ traffic_source.title }}</h4>
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <a class="breadcrumb-item" href="{{ path('cabinet_traffic_source_index') }}">Источники трафика</a>
    <span class="breadcrumb-item active">{{ traffic_source.title }}</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Создать новый источник трафика</h5>
        </div>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>Название</th>
                    <td>{{ traffic_source.title }}</td>
                </tr>
                <tr>
                    <th>Модерация</th>
                    <td>{{ moderation_statuses[traffic_source.moderation] }}</td>
                </tr>
                <tr>
                    <th>Тип источника</th>
                    <td>{{ traffic_source.sourceType|bit_dictionary(source_types) }}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <a class="btn btn-primary btn-sm" href="{{ path('cabinet_traffic_source_index') }}">Назад к списку</a>
            <a class="btn btn-primary btn-sm"
               href="{{ path('cabinet_traffic_source_edit', {'id': traffic_source.id}) }}">Редактировать</a>
            {{ include('cabinet/traffic_source/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
