<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

    {# Sidebar mobile toggler #}
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    {# Sidebar mobile toggler end #}

    {# Sidebar content #}
    <div class="sidebar-content">

        {# User menu #}
        <div class="sidebar-user">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3">
                        <a href="{{ path('cabinet_profile_index') }}"><img src="{{ asset('/global_assets/images/image.png') }}" width="38" height="38" class="rounded-circle" alt="{{ app.user.username }}"></a>
                    </div>

                    <div class="media-body">
                        <div class="media-title font-weight-semibold">{{ app.user.username }}</div>
                        {#
                        <div class="font-size-xs opacity-50">
                            <i class="fab fa-telegram font-size-sm"></i> &nbsp;@upside_89
                        </div>
                        #}
                    </div>

                    {#
                    <div class="ml-3 align-self-center">
                        <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                    </div>
                    #}
                </div>
            </div>
        </div>
        {# User menu end #}

        {# Main navigation #}
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                {# Main #}
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Основные</div>
                    <i class="icon-menu" title="Main"></i>
                </li>
                {#
                <li class="nav-item">
                    <a href="{{ path('cabinet_dashboard_index') }}" class="nav-link{% if route_name matches '{^cabinet_dashboard}' %} active{% endif %}">
                        <i class="icon-home4"></i>
                        <span>Главная</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cabinet_statistic_index') }}" class="nav-link{% if route_name matches '{^cabinet_statistic}' %} active{% endif %}">
                        <i class="icon-statistics"></i>
                        <span>Статистика</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cabinet_traffic_source_index') }}" class="nav-link{% if route_name matches '{^cabinet_traffic_source}' %} active{% endif %}">
                        <i class="icon-sphere"></i>
                        <span>Источники</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cabinet_offer_index') }}" class="nav-link{% if route_name matches '{^cabinet_offer}' %} active{% endif %}">
                        <i class="icon-fire"></i>
                        <span>Офферы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cabinet_stream_index') }}" class="nav-link{% if route_name matches '{^cabinet_stream}' %} active{% endif %}">
                        <i class="icon-link"></i>
                        <span>Потоки</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cabinet_click_index') }}" class="nav-link{% if route_name matches '{^click_index}' %} active{% endif %}">
                        <i class="icon-cursor"></i>
                        <span>Клики</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cabinet_lead_index') }}" class="nav-link{% if route_name matches '{^lead_index}' %} active{% endif %}">
                        <i class="icon-check"></i>
                        <span>Лиды</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cabinet_finance_index') }}" class="nav-link{% if route_name matches '{^cabinet_finance}' %} active{% endif %}">
                        <i class="icon-cash"></i>
                        <span>Финансы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cabinet_help_index') }}" class="nav-link{% if route_name matches '{^cabinet_help}' %} active{% endif %}">
                        <i class="icon-help"></i>
                        <span>Помощь</span>
                    </a>
                </li>
                #}

                <li class="nav-item">
                    <a href="{{ path('cabinet_agency_index') }}" class="nav-link{% if route_name matches '{^cabinet_agency_index}' %} active{% endif %}">
                        <i class="icon-sphere3"></i>
                        <span>Рекламные сети</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('cabinet_agency_transaction_operation', {'operation': 4}) }}" class="nav-link{% if route_name matches '{^cabinet_agency_transaction}' %} active{% endif %}">
                        <i class="icon-sphere3"></i>
                        <span>История платежей</span>
                    </a>
                </li>

                {# Main end #}

            </ul>
        </div>
        {# Main navigation end #}

    </div>
    {# Sidebar content #}

</div>
