{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name_en) }}
        {{ form_widget(form.name_en , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.name_en) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <div class="form-group">
        {{ form_label(form.name_ru) }}
        {{ form_widget(form.name_ru , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.name_ru) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <div class="form-group">
        {{ form_label(form.iso_2) }}
        {{ form_widget(form.iso_2 , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.iso_2) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <div class="form-group">
        {{ form_label(form.iso_3) }}
        {{ form_widget(form.iso_3 , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.iso_3) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <div class="form-group">
        {{ form_label(form.iso_num) }}
        {{ form_widget(form.iso_num , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.iso_num) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>
    <button class="btn btn-primary btn-sm">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
