{% extends 'admin/layout/base.html.twig' %}

{% block title %}Редактировать гео: {{ geo }}{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Гео</span> - редактировать: {{ geo }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_geo_index') }}">Гео</a>
    <span class="breadcrumb-item active">Редактировать гео: {{ geo }}</span>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Редактировать гео: {{ geo }}</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{ include('admin/geo/_form.html.twig', {'button_label': 'Изменить'}) }}
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="{{ path('admin_geo_index') }}">Назад к списку</a>

        {{ include('admin/geo/_delete_form.html.twig') }}
    </div>
</div>


{% endblock %}
