{% extends 'admin/layout/base.html.twig' %}

{% block title %}список гео{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Гео</span> - список</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <span class="breadcrumb-item active">Гео</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <div class="card-title">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="header-elements">
                {{ knp_pagination_filter(pagination, {
                    'g.id': 'Id',
                    'g.name_en' : 'Название (en)',
                    'g.name_ru' : 'Название (ru)',
                    'g.iso_2' : 'ISO (2)',
                    'g.iso_3' : 'ISO (3)',
                    'g.iso_num' : 'ISO (num)',
                    'g.created_at' : 'Created',
                    'g.updated_at' : 'Updated'
                }) }}
            </div>
        </div>
        {#
        <div class="card-body">
            Контент
        </div>
        #}
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'g.id') }}</th>
                    <th>Флаг</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Название (en)', 'g.name_en') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Название (ru)', 'g.name_ru') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'ISO (2)', 'g.iso_2') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'ISO (3)', 'g.iso_3') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'ISO (num)', 'g.iso_num') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created', 'g.created_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Updated', 'g.updated_at') }}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for geo in pagination %}
                    <tr>
                        <td>{{ geo.id }}</td>
                        <td><img src="/assets/img/flags/32/{{ geo.iso2 }}.png" title="{{ geo.nameRu }}"></td>
                        <td>{{ geo.nameEn }}</td>
                        <td>{{ geo.nameRu }}</td>
                        <td>{{ geo.iso2 }}</td>
                        <td>{{ geo.iso3 }}</td>
                        <td>{{ geo.isoNum }}</td>
                        <td>{{ geo.createdAt ? geo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ geo.updatedAt ? geo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <div class="list-icons">
                                <a href="{{ path('admin_geo_edit', {'id': geo.id}) }}" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                <a href="{{ path('admin_geo_show', {'id': geo.id}) }}" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">{% trans %}records not found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <a class="btn btn-primary btn-sm" href="{{ path('admin_geo_new') }}">Добавить</a>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
