{% extends 'admin/layout/base.html.twig' %}

{% block title %}гео: {{ geo }}{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Гео</span> - {{ geo }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_geo_index') }}">Гео</a>
    <span class="breadcrumb-item active">{{ geo }}</span>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        Контент
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ geo.id }}</td>
            </tr>
            <tr>
                <th>Name_en</th>
                <td>{{ geo.nameEn }}</td>
            </tr>
            <tr>
                <th>Name_ru</th>
                <td>{{ geo.nameRu }}</td>
            </tr>
            <tr>
                <th>Iso_2</th>
                <td>{{ geo.iso2 }}</td>
            </tr>
            <tr>
                <th>Iso_3</th>
                <td>{{ geo.iso3 }}</td>
            </tr>
            <tr>
                <th>Iso_num</th>
                <td>{{ geo.isoNum }}</td>
            </tr>
            <tr>
                <th>Создан</th>
                <td>{{ geo.createdAt ? geo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Изменён</th>
                <td>{{ geo.updatedAt ? geo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="{{ path('admin_geo_index') }}">Назад к списку</a>
        <a class="btn btn-primary btn-sm" href="{{ path('admin_geo_edit', {'id': geo.id}) }}">Изменить</a>
        {{ include('admin/geo/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
