{% extends 'auth.html.twig' %}

{% block title %}Сброс пароля{% endblock %}

{% block body %}
    {{ form_start(requestForm, {'attr':{'class':'login-form'}}) }}
        <div class="card mb-0">
            <div class="card-body">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <div class="text-center mb-3">
                    <i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0">Восстановление пароля</h5>
                    <span class="d-block text-muted">Мы вышлем вам инструкции по электронной почте</span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-right">
                    {{ form_widget(requestForm.email, {'attr':{'placeholder':'Ваш email'}}) }}
                    <div class="form-control-feedback">
                        <i class="icon-mail5 text-muted"></i>
                    </div>
                </div>

                <button type="submit" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i> Сброс пароля</button>
            </div>
        </div>
    {{ form_end(requestForm) }}
{% endblock %}
