{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Рекламные сети{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Рекламные сети</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <span class="breadcrumb-item active">Рекламные сети</span>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Перевод средств между кабинетами рекламной сети myTarget Десктоп</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Откуда:</label>
                <p>{{ fromCabinet.name }}</p>
            </div>

            <div class="form-group">
                Баланс кабинета: {{ fromCabinet.balance }} USD на {{ fromCabinet.updatedAt ? fromCabinet.updatedAt|date('Y-m-d H:i:s') : '' }}
            </div>

            <div class="form-group">
                {{ form_label(form.cabinet_to) }}
                {{ form_widget(form.cabinet_to, { 'attr': {'class': 'select-search'} }) }}
                <span class="form-text text-muted">{{ form_help(form.cabinet_to) }}</span>
                {#<div class="form-error">
                    {{ form_errors(form.name) }}
                </div>#}
            </div>
            <div class="form-group">
                {{ form_label(form.amount) }}
                {{ form_widget(form.amount) }}
                <span class="form-text text-muted">{{ form_help(form.amount) }}</span>
                {#<div class="form-error">
                    {{ form_errors(form.name) }}
                </div>#}
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm">{{ button_label|default('Пополнить') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
