{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Рекламные сети{% endblock %}

{% block page_title %}
    <h4><i class="icon-sphere3 mr-2"></i> <span class="font-weight-semibold">Рекламные сети</span> - {{ service }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_agency_index') }}" class="breadcrumb-item"><i class="icon-sphere3 mr-2"></i> Рекламные сети</a>
    <span class="breadcrumb-item active">{{ service }}</span>
{% endblock %}

{% block body %}

    <a href="{{ path('cabinet_agency_service_mytarget_sync_cabinets') }}" class="btn btn-sm btn-primary mb-2">Обновить балансы</a>
    <a href="{{ path('cabinet_agency_service_mytarget_get_cabinet') }}" class="btn btn-sm btn-primary mb-2">Получить кабинет</a>

    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">{{ service }}</h6>
            <div class="header-elements">
                {{ knp_pagination_filter(pagination, {
                    'ac.id': 'Id',
                    'ac.name': 'Наименование',
                    'ac.name': 'Наименование',
                }) }}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Рекламный кабинет', 'ac.api_name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Наименование', 'ac.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Баланс', 'ac.balance') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Последнее обновление', 'ac.updated_at') }}</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for agencyCabinet in pagination %}
                    <tr>
                        <td><a href="http://target.my.com/" target="_blank">{{ agencyCabinet.apiName }}</a></td>
                        <td><a class="edit-agency-m" href="#" data-id="{{ agencyCabinet.id }}" data-name="{{ agencyCabinet.name }}">{{ agencyCabinet.name }}</a></td>
                        <td>{{ agencyCabinet.balance }}</td>
                        <td>{{ agencyCabinet.updatedAt ? agencyCabinet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <div class="list-icons">
                                <a href="{{ path('cabinet_agency_service_mytarget_spend_funds_to_cabinet', {'cabinet':agencyCabinet.id}) }}" class="list-icons-item text-primary-600" title="Пополнить кабинет"><i class="icon-coin-dollar"></i></a>
                                <a href="#"
                                   class="list-icons-item auto-completion-m {{ agencyCabinet.autoCompletion ? 'text-success-800' : 'text-grey-300' }}"
                                   data-id="{{ agencyCabinet.id }}"
                                   data-replenishment-amount="{{ agencyCabinet.replenishmentAmount }}"
                                   data-balance-below="{{ agencyCabinet.balanceBelow }}"
                                   data-auto-completion="{{ agencyCabinet.autoCompletion }}"
                                   title="Автоматическое пополнение {{ agencyCabinet.autoCompletion ? 'включено' : 'выключено' }}. Нажмите, чтобы изменить.">
                                    <i class="icon-history"></i>
                                </a>
                                <a href="{{ path('cabinet_agency_service_mytarget_spend_funds_cabinet_to_cabinet', {'fromCabinet': agencyCabinet.id}) }}" class="list-icons-item text-primary-600" title="Перевод средств."><i class="icon-transmission"></i></a>
                                <a href="#" class="list-icons-item text-grey-300" title="Скрыть кабинет."><i class="icon-eye-blocked"></i></a>
                                <a href="#" class="list-icons-item text-grey-300" title="Статистика транзакций."><i class="icon-stats-bars2"></i></a>
                                <a href="#" data-password="{{ agencyCabinet.password }}" class="list-icons-item text-green-300 js-copy-password" title="Скопировать пароль."><i class="icon-lock2"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


    <!-- Vertical form modal -->
    <div id="agency-cabinet-edit-m" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Изменить название</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="{{ path('cabinet_agency_service_mytarget_cabinet_edit') }}" method="post">
                    <input type="hidden" name="id" id="agency-cabinet-id">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Название</label>
                                    <input type="text" name="name" id="agency-cabinet-name" placeholder="Название" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn bg-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /vertical form modal -->

    <!-- Vertical form modal -->
    <div id="agency-cabinet-auto-completion-m" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Автоматическое пополнение</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="{{ path('cabinet_agency_service_mytarget_cabinet_auto_completion_edit') }}" method="post">
                    <input type="hidden" name="id" id="agency-cabinet-auto-completion-id">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline form-check-right">
                                        <label class="form-check-label">
                                            Включить автопополнение
                                            <input type="checkbox" class="form-check-input"  name="auto_completion" id="agency-cabinet-auto-completion">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <label>Сумма пополнения</label>
                                    <input type="text" name="replenishment_amount" id="agency-cabinet-replenishment-amount" placeholder="Сумма пополнения" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>При балансе ниже</label>
                                    <input type="text" name="balance_below" id="agency-cabinet-balance-below" placeholder="При балансе ниже" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn bg-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /vertical form modal -->
{% endblock %}

{% block javascripts_footer %}
    <script>
        $(document).ready(function () {

            $('.js-copy-password').on('click', function (e) {
                e.preventDefault();
                var textArea = document.createElement("textarea");
                textArea.value = $(this).data('password');
                document.body.appendChild(textArea);
                textArea.select();
                try {
                    alert('Пароль скопирован в буфер обмена')
                } catch (err) {
                    console.log('Oops, unable to copy');
                }
                document.body.removeChild(textArea);
            });

            $('.edit-agency-m').on('click', function (e) {
                e.preventDefault();

                var el = $(this);

                $('#agency-cabinet-id').val(el.data('id'));
                $('#agency-cabinet-name').val(el.data('name'));

                $('#agency-cabinet-edit-m').modal();
            });

            $('.auto-completion-m').on('click', function (e) {
                e.preventDefault();

                var el = $(this);


                if(el.data('auto-completion') === 1){
                    $('#agency-cabinet-auto-completion').attr('checked', true);
                }else{
                    $('#agency-cabinet-auto-completion').attr('checked', false);
                }
                $('#agency-cabinet-auto-completion-id').val(el.data('id'));
                $('#agency-cabinet-replenishment-amount').val(el.data('replenishment-amount'));
                $('#agency-cabinet-balance-below').val(el.data('balance-below'));

                $('#agency-cabinet-auto-completion-m').modal();
            });
        });
    </script>
{% endblock %}
