{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Рекламные сети{% endblock %}

{% block page_title %}
    <h4><i class="icon-sphere3 mr-2"></i> <span class="font-weight-semibold">Рекламные сети</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_agency_index') }}" class="breadcrumb-item"><i class="icon-sphere3 mr-2"></i> Рекламные сети</a>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Пополнение баланса рекламной сети myTarget Десктоп</h6>
        </div>
        <div class="card-body">


                <div class="form-group">
                    <p>Аккаунт: {{ cabinet.apiName }}</p>
                    <p>Название аккаунта: {{ cabinet.name }}</p>
                    <p>Баланс кабинета {{ cabinet.balance }} USD на {{ cabinet.updatedAt ? cabinet.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
                </div>

                <br>

                <div class="form-group">
                    {{ form_label(form.amount) }}
                    {{ form_widget(form.amount , { 'attr': {'class': 'form-control'} }) }}
                    <span class="form-text text-muted">{{ form_help(form.amount) }}</span>
                    {#<div class="form-error">
                        {{ form_errors(form.name) }}
                    </div>#}
                </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm">{{ button_label|default('Пополнить') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
