{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}новый поток{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Потоки</span> - новый</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <a class="breadcrumb-item" href="{{ path('cabinet_stream_index') }}">Потоки</a>
    <span class="breadcrumb-item active">Новый поток</span>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Создать новый поток</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{ include('cabinet/stream/_form.html.twig') }}
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="{{ path('cabinet_stream_index') }}">Назад к списку</a>
    </div>
</div>
{% endblock %}
