{{ form_start(form) }}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Фильтр</h6>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.streams) }}
                        {{ form_widget(form.streams, { 'attr': {'class': 'form-control-sm select-search', 'data-container-css-class': 'select-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.geo) }}
                        {{ form_widget(form.geo, { 'attr': {'class': 'form-control-sm select-search', 'data-container-css-class': 'select-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.offers) }}
                        {{ form_widget(form.offers, { 'attr': {'class': 'form-control-sm select-search', 'data-container-css-class': 'select-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.date) }}
                        <div class="input-group">
                            {{ form_widget(form.date, { 'attr': {'class': 'form-control-sm daterange-locale'} }) }}
                            <span class="input-group-append">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.id) }}
                        {{ form_widget(form.id, { 'attr': {'class': 'form-control-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.ip) }}
                        {{ form_widget(form.ip, { 'attr': {'class': 'form-control-sm'} }) }}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group mb-2">
                        {{ form_label(form.useragent) }}
                        {{ form_widget(form.useragent, { 'attr': {'class': 'form-control-sm'} }) }}
                    </div>
                </div>
            </div>

            <span class="font-weight-semibold cursor-pointer" data-toggle="collapse" data-target="#tokens">
                Токены <i class="icon-circle-down2"></i>
            </span>

            <div class="collapse" id="tokens">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_1) }}
                            {{ form_widget(form.token_1, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_2) }}
                            {{ form_widget(form.token_2, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_3) }}
                            {{ form_widget(form.token_3, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_4) }}
                            {{ form_widget(form.token_4, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_5) }}
                            {{ form_widget(form.token_5, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_6) }}
                            {{ form_widget(form.token_6, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_7) }}
                            {{ form_widget(form.token_7, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_8) }}
                            {{ form_widget(form.token_8, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_9) }}
                            {{ form_widget(form.token_9, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_10) }}
                            {{ form_widget(form.token_10, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_11) }}
                            {{ form_widget(form.token_11, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_12) }}
                            {{ form_widget(form.token_12, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_13) }}
                            {{ form_widget(form.token_13, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_14) }}
                            {{ form_widget(form.token_14, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_15) }}
                            {{ form_widget(form.token_15, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-2">
                            {{ form_label(form.token_16) }}
                            {{ form_widget(form.token_16, { 'attr': {'class': 'form-control-sm'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary btn-sm" type="submit">Применить</button>
        </div>
    </div>
{{ form_end(form) }}
