{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Клики{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Клики</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <span class="breadcrumb-item active">Клики</span>
{% endblock %}

{% block body %}
    {{ include('cabinet/click/_form.html.twig') }}

    <div class="card">
        <div class="card-header header-elements-inline">
            <div class="card-title">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="header-elements">
                {{ knp_pagination_filter(pagination, {
                    'сlick.id': 'Id',
                    'click.stream.id': 'Id потока',
                }) }}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Дата', 'click.created_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'click.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Поток', 'stream.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Оффер', 'offer.id') }}</th>
                    <th class="nobr">{{ knp_pagination_sortable(pagination, 'Гео  ', 'geo.iso_2')}} </th>
                    <th>{{ knp_pagination_sortable(pagination, 'IP Адресс', 'ipAddress.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'UserAgent', 'userAgent.id') }}</th>
                    <th>{{ tokenMap.token_1 ?? 'Токен 1' }}</th>
                    <th>{{ tokenMap.token_2 ?? 'Токен 2' }}</th>
                    <th>{{ tokenMap.token_3 ?? 'Токен 3' }}</th>
                    <th>{{ tokenMap.token_4 ?? 'Токен 4' }}</th>
                    <th>{{ tokenMap.token_5 ?? 'Токен 5' }}</th>
                    <th>{{ tokenMap.token_6 ?? 'Токен 6' }}</th>
                    <th>{{ tokenMap.token_7 ?? 'Токен 7' }}</th>
                    <th>{{ tokenMap.token_8 ?? 'Токен 8' }}</th>
                    <th>{{ tokenMap.token_9 ?? 'Токен 9' }}</th>
                    <th>{{ tokenMap.token_10 ?? 'Токен 10' }}</th>
                    <th>{{ tokenMap.token_11 ?? 'Токен 11' }}</th>
                    <th>{{ tokenMap.token_12 ?? 'Токен 12' }}</th>
                    <th>{{ tokenMap.token_13 ?? 'Токен 13' }}</th>
                    <th>{{ tokenMap.token_14 ?? 'Токен 14' }}</th>
                    <th>{{ tokenMap.token_15 ?? 'Токен 15' }}</th>
                    <th>{{ tokenMap.token_16 ?? 'Токен 16' }}</th>
                </tr>
                </thead>
                <tbody>
                {% for click in pagination %}
                    <tr>
                        <td class="nobr">{{ click.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>
                            ID: {{ click.id }}<br>
                            <small class="nobr">uuid: ({{ click.uuid }})</small>
                        </td>
                        <td>
                            ID: {{ click.stream.id }}<br>
                            <small class="nobr">uuid: (<a href="{{ path('cabinet_stream_show', {'id':click.stream.id}) }}">{{ click.stream.uuid }}</a>)</small>
                        </td>
                        <td class="nobr">{{ click.stream.offer }}</td>
                        <td class="nobr"><img class="img-fluid img-thumbnail" src="/assets/img/flags/24/{{ click.geo.iso2 }}.png" title="{{ click.geo.nameRu }}"> {{ click.geo.iso2 }}</td>
                        <td><a href="https://who.is/whois-ip/ip-address/{{ click.ipAddress.value }}" target="_blank">{{ click.ipAddress.value }}</a></td>
                        <td>{{ click.userAgent.value }}</td>
                        <td>{{ click.getTokenByName('token_1')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_2')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_3')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_4')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_5')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_6')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_7')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_8')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_9')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_10')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_11')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_12')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_13')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_14')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_15')|slice(0, 30) }}</td>
                        <td>{{ click.getTokenByName('token_16')|slice(0, 30) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{% trans %}records not found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
