{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name_en) }}
        {{ form_widget(form.name_en , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.name_en) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <div class="form-group">
        {{ form_label(form.name_ru) }}
        {{ form_widget(form.name_ru , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.name_ru) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <div class="form-group">
        {{ form_label(form.abbreviation_en) }}
        {{ form_widget(form.abbreviation_en , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.abbreviation_en) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <div class="form-group">
        {{ form_label(form.abbreviation_ru) }}
        {{ form_widget(form.abbreviation_ru , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.abbreviation_ru) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <div class="form-group">
        {{ form_label(form.code) }}
        {{ form_widget(form.code , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.code) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <div class="form-group">
        {{ form_label(form.rate) }}
        {{ form_widget(form.rate , { 'attr': {'class': 'form-control'} }) }}
        <span class="form-text text-muted">{{ form_help(form.rate) }}</span>

        {#<div class="form-error">
            {{ form_errors(form.name) }}
        </div>#}
    </div>

    <button class="btn btn-primary btn-sm">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
