{% extends 'admin/layout/base.html.twig' %}

{% block title %}{% trans %}list{% endtrans %} валюты{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Валюта</span> - {% trans %}list{% endtrans %}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <span class="breadcrumb-item active">Валюта</span>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header header-elements-inline">
        <div class="card-title">
            {{ pagination.getTotalItemCount }}
        </div>
        <div class="header-elements">
            {{ knp_pagination_filter(pagination, {
                'u.id': 'Id',
                'u.email': 'Name',
                'u.created_at':'Created',
                'u.updated_at':'Updated'
            }) }}
        </div>
    </div>
    {#<div class="card-body">
        Контент
    </div>#}
    <div class="table-responsive">
        <table class="table table-striped table-xs">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Название (en)', 'c.name_en') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Название (ru)', 'c.name_ru') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Сокращение (en)', 'c.abbreviation_en') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Сокращение (ru)', 'c.abbreviation_ru') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Код', 'c.code') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Курс', 'c.rate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Created', 'c.created_at') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Updated', 'c.updated_at') }}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for currency in pagination %}
                <tr>
                    <td>{{ currency.id }}</td>
                    <td>{{ currency.nameEn }}</td>
                    <td>{{ currency.nameRu }}</td>
                    <td>{{ currency.abbreviationEn }}</td>
                    <td>{{ currency.abbreviationRu }}</td>
                    <td>{{ currency.code }}</td>
                    <td>{{ currency.rate }}</td>
                    <td>{{ currency.createdAt ? currency.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ currency.updatedAt ? currency.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <div class="list-icons">
                            <a href="{{ path('admin_currency_edit', {'id': currency.id}) }}" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                            <a href="{{ path('admin_currency_show', {'id': currency.id}) }}" class="list-icons-item text-teal-600"><i class="icon-eye"></i></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">{% trans %}records not found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <a class="btn btn-primary btn-sm" href="{{ path('admin_currency_new') }}">Добавить</a>
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
