{% extends 'admin/layout/base.html.twig' %}

{% block title %}валюта {{ currency }}{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Валюта</span> - {{ currency }}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="{{ path('admin_currency_index') }}">Валюта</a>
    <span class="breadcrumb-item active">{{ currency }}</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            Контент
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ currency.id }}</td>
                </tr>
                <tr>
                    <th>Name_en</th>
                    <td>{{ currency.nameEn }}</td>
                </tr>
                <tr>
                    <th>Name_ru</th>
                    <td>{{ currency.nameRu }}</td>
                </tr>
                <tr>
                    <th>Abbreviation_ru</th>
                    <td>{{ currency.abbreviationRu }}</td>
                </tr>
                <tr>
                    <th>Abbreviation_en</th>
                    <td>{{ currency.abbreviationEn }}</td>
                </tr>
                <tr>
                    <th>Code</th>
                    <td>{{ currency.code }}</td>
                </tr>
                <tr>
                    <th>Rate</th>
                    <td>{{ currency.rate }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ currency.createdAt ? currency.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>{{ currency.updatedAt ? currency.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary btn-sm" href="{{ path('admin_currency_index') }}">Назад к списку</a>
            <a class="btn btn-primary btn-sm" href="{{ path('admin_currency_edit', {'id': currency.id}) }}">Редактировать</a>
            {{ include('admin/currency/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
