{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}История платежей{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">История платежей</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_agency_index') }}" class="breadcrumb-item"><i class="icon-sphere3 mr-2"></i> Рекламные сети</a>
    <span class="breadcrumb-item active">История платежей</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">-</h6>
            <div class="header-elements">
                <div class="list-icons">
                    {#<a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>#}
                </div>
            </div>
        </div>

        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="nav-item"><a href="#" class="nav-link active">Пополнения ЛК</a></li>
                <li class="nav-item"><a href="{{ path('cabinet_agency_transaction_operation', {'operation': 2}) }}" class="nav-link">Переводы в рекламую сеть myTarget</a></li>
                <li class="nav-item"><a href="{{ path('cabinet_agency_transaction_operation', {'operation': 3}) }}" class="nav-link">Переводы между кабинетами</a></li>
            </ul>

            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Сумма</th>
                        <th>Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>Сумма</td>
                    <td>Дата создания</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
