{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ app_name }} - {% block title %}Welcome!{% endblock %}</title>

    {# Global stylesheets #}
    {{ include('app/partials/global-stylesheets.html.twig') }}
    {# Global stylesheets end #}

    {% block stylesheets %}{% endblock %}

    {# Core JS files #}
    {{ include('app/partials/core-js-files.html.twig') }}
    {# Core JS files end #}

    {# Theme JS files #}
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('global_assets/js/demo_pages/form_select2.js') }}"></script>
    {# Theme JS files end #}

    {% block javascripts_header %}{% endblock %}
</head>

<body>
{# Main navbar #}
{{ include('admin/partials/main_navbar.html.twig') }}
{# Main navbar end #}

{# Page content #}
<div class="page-content">

    {# Main sidebar #}
    {{ include('admin/partials/main_sidebar.html.twig') }}
    {# Main sidebar end #}

    {# Main content #}
    <div class="content-wrapper">

        {# Page header #}
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    {% block page_title %}{% endblock %}
                </div>

                {#
                <div class="header-elements d-none">
                    <a href="sidebar_main.html#" class="btn btn-labeled btn-labeled-right bg-primary">Button <b><i class="icon-menu7"></i></b></a>
                </div>
                #}
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        {% block breadcrumbs %}{% endblock %}
                    </div>
                    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
                </div>

                {#
                <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">
                        <a href="sidebar_main.html#" class="breadcrumb-elements-item">
                            Link
                        </a>

                        <div class="breadcrumb-elements-item dropdown p-0">
                            <a href="sidebar_main.html#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="sidebar_main.html#" class="dropdown-item">Action</a>
                                <a href="sidebar_main.html#" class="dropdown-item">Another action</a>
                                <a href="sidebar_main.html#" class="dropdown-item">One more action</a>
                                <div class="dropdown-divider"></div>
                                <a href="sidebar_main.html#" class="dropdown-item">Separate action</a>
                            </div>
                        </div>
                    </div>
                </div>
                #}
            </div>
        </div>
        {# Page header end #}

        <div class="content">
            {% block body %}{% endblock %}
        </div>

        {# Footer #}
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i>
                    Footer
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-footer">
                <span class="navbar-text">
                    {{ include('app/partials/copy.html.twig') }}
                </span>

                {#
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#" class="navbar-nav-link">Text link</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="navbar-nav-link">
                            <i class="icon-lifebuoy"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold">
                            <span class="text-pink-400">
                                <i class="icon-cart2 mr-2"></i>
                                Purchase
                            </span>
                        </a>
                    </li>
                </ul>
                #}
            </div>
        </div>
        {# Footer end #}
    </div>
    {# Main content end #}
</div>
{# Page content end #}
{% block javascripts_footer %}{% endblock %}
</body>
</html>