{% extends 'admin/layout/base.html.twig' %}

{% block title %}список транзакций{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Транзакции</span> - список</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('admin_dashboard_index') }}"><i class="icon-home2 mr-2"></i> {% trans %}Dashboard{% endtrans %}</a>
    <a class="breadcrumb-item" href="#">Агенство</a>
    <span class="breadcrumb-item active">Транзакции</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <div class="card-title">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="header-elements">
                {{ knp_pagination_filter(pagination, {
                    'ubtr.id': 'Id транзакции',
                    'fu.id': 'От пользователя (id)',
                    'fu.email': 'От пользователя (email)',
                    'tu.id': 'Пользователю (id)',
                    'tu.email': 'Пользователю (email)',
                    'ubtr.amount': 'Сумма',
                    'ubtr.name': 'Название',
                }) }}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'ubtr.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'От пользователя', 'fu.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Пользователю', 'tu.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'C кабинета', 'acf.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'В кабинет', 'act.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Операция', 'ubtr.operation') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Статус', 'ubtr.status') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Сумма', 'ubtr.amount') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Название', 'ubtr.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Описание', 'ubtr.description') }}</th>
                    <th>Параметры</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Создана', 'ubtr.created_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Изменена', 'ubtr.updated_at') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for userBalanceTransaction in pagination %}
                    <tr>
                        <td>{{ userBalanceTransaction.id }}</td>
                        <td><a href="{{ path('admin_user_show', {'id':userBalanceTransaction.userBalanceFrom.user.id}) }}">{{ userBalanceTransaction.userBalanceFrom.user.email }}</a></td>
                        <td><a href="{{ path('admin_user_show', {'id':userBalanceTransaction.userBalanceTo.user.id}) }}">{{ userBalanceTransaction.userBalanceTo.user.email }}</a></td>
                        <td>{{ userBalanceTransaction.agencyCabinetFrom.apiName ?? '' }}</td>
                        <td>{{ userBalanceTransaction.agencyCabinetTo.apiName ?? '' }}</td>
                        <td>{{ constant('App\\Entity\\Main\\UserBalanceTransaction::OPERATIONS')[userBalanceTransaction.operation] }}</td>
                        <td>{{ constant('App\\Entity\\Main\\UserBalanceTransaction::STATUSES')[userBalanceTransaction.status] }}</td>
                        <td>{{ userBalanceTransaction.amount }}</td>
                        <td>{{ userBalanceTransaction.name }}</td>
                        <td>{{ userBalanceTransaction.description }}</td>
                        <td>
                            {{ userBalanceTransaction.params|json_encode }}
                        </td>
                        <td>{{ userBalanceTransaction.createdAt ? userBalanceTransaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ userBalanceTransaction.updatedAt ? userBalanceTransaction.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">{% trans %}records not found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <a class="btn btn-primary btn-sm" href="{{ path('admin_agency_cabinet_new') }}">Добавить</a>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}


