{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Рекламные сети{% endblock %}

{% block page_title %}
    <h4><i class="icon-sphere3 mr-2"></i> <span class="font-weight-semibold">Рекламные сети</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <span class="breadcrumb-item active"><i class="icon-sphere3 mr-2"></i> Рекламные сети</span>
{% endblock %}

{% block body %}
    <div class="card card-body">
        <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
            <div class="mr-lg-3 mb-3 mb-lg-0">
                <a href="#" >
                    <img src="/assets/img/agency/vk-logo-groups.png" alt="Рекламная сеть ВКонтакте Маркет-платформа (скоро)">
                </a>
            </div>
            <div class="media-body">
                <h6 class="media-title font-weight-semibold">
                    <a href="#">Рекламная сеть ВКонтакте Маркет-платформа (скоро)</a>
                </h6>
                <p class="mb-3">Система для размещения рекламных записей в сообществах ВКонтакте. Нативные интеграции органично вписываются в контент сообщества и не вызывают раздражения у пользователей.</p>
                {#<a href="#" class="btn bg-teal-400"><i class="icon-arrow-right5 mr-2"></i> Перейти</a>#}
            </div>
        </div>
    </div>

    <div class="card card-body">
        <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
            <div class="mr-lg-3 mb-3 mb-lg-0">
                <a href="#" >
                    <img src="/assets/img/agency/vk-logo-target.png" alt="Рекламная сеть ВКонтакте Таргетинг (скоро)">
                </a>
            </div>
            <div class="media-body">
                <h6 class="media-title font-weight-semibold">
                    <a href="#">Рекламная сеть ВКонтакте Таргетинг (скоро)</a>
                </h6>
                <p class="mb-3">Рекламная сеть ВКонтакте - позволяет размещать таргетированные объявления в социальной сети, опираясь на интересы и местоположение пользователей. Аудитория из России и СНГ более 92 млн человек.</p>
                {#<a href="#" class="btn bg-teal-400"><i class="icon-arrow-right5 mr-2"></i> Перейти</a>#}
            </div>
        </div>
    </div>

    <div class="card card-body">
        <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
            <div class="mr-lg-3 mb-3 mb-lg-0">
                <a href="{{ path('cabinet_agency_service_mytarget_index') }}">
                    <img src="/assets/img/agency/mytarget-logo.png" alt="Рекламная сеть ВКонтакте Таргетинг (скоро)">
                </a>
            </div>
            <div class="media-body">
                <h6 class="media-title font-weight-semibold">
                    <a href="{{ path('cabinet_agency_service_mytarget_index') }}">Рекламная сеть myTarget Десктоп</a>
                </h6>
                <p class="mb-3">myTarget - рекламная платформа Mail.Ru Group, которая объединяет все крупнейшие в России и СНГ социальные сети и сервисы с общим охватом более 140 млн человек.</p>
                {#<a href="{{ path('cabinet_agency_service', {'service':'mytarget'}) }}" class="btn bg-teal-400"><i class="icon-arrow-right5 mr-2"></i> Перейти</a>#}
            </div>
        </div>
    </div>

    <div class="card card-body">
        <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
            <div class="mr-lg-3 mb-3 mb-lg-0">
                <a href="#" >
                    <img src="/assets/img/agency/mytarget-mobile-logo.png" alt="Рекламная сеть myTarget Мобайл (скоро)">
                </a>
            </div>
            <div class="media-body">
                <h6 class="media-title font-weight-semibold">
                    <a href="#">Рекламная сеть myTarget Мобайл (скоро)</a>
                </h6>
                <p class="mb-3">myTarget - рекламная платформа Mail.Ru Group, которая объединяет все крупнейшие в России и СНГ социальные сети и сервисы с общим охватом более 140 млн человек.</p>
                {#<a href="#" class="btn bg-teal-400"><i class="icon-arrow-right5 mr-2"></i> Перейти</a>#}
            </div>
        </div>
    </div>
{% endblock %}
