{% extends 'cabinet/layout/base.html.twig' %}

{% block title %}Лиды{% endblock %}

{% block page_title %}
    <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Лиды</span>{# - 1 Sidebar#}</h4>
    {#<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>#}
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('cabinet_dashboard_index') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Главная</a>
    <span class="breadcrumb-item active">Лиды</span>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <div class="card-title">
                Всего: {{ pagination.getTotalItemCount }}
            </div>
            <div class="header-elements">
                {{ knp_pagination_filter(pagination, {
                    'lead.id': 'ID Лида',
                    'lead.uuid': 'UUID Лида',
                    'lead.price': 'Стоимость Лида',
                    'stream.id': 'ID потока',
                    'stream.uuid': 'UUID потока',
                    'click.id': 'ID клика',
                    'click.uuid': 'UUID клика',
                    'geo.iso_2': 'Гео ISO2',
                    'geo.iso_3': 'Гео ISO3',
                    'geo.name_ru': 'Гео название на русском',
                }) }}
            </div>
        </div>
        {#<div class="card-body">
            Контент
        </div>#}
        <div class="table-responsive">
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th class="nobr">{{ knp_pagination_sortable(pagination, 'Получен', 'lead.created_at') }}</th>
                    <th class="nobr">{{ knp_pagination_sortable(pagination, 'Изменён', 'lead.updated_at') }}</th>
                    <th class="nobr">Время до конверсии</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Лид', 'lead.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Клик', 'click.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Поток', 'stream..id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Гео', 'geo.iso_2') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Статус', 'lead.status') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Цена', 'lead.price') }}</th>
                    <th>Клиент</th>
                    <th>{{ knp_pagination_sortable(pagination, 'IP Адресс', 'ipAddress.value') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'UserAgent', 'userAgent.value') }}</th>
                    <th>{{ tokenMap.token_1 ?? 'Токен 1' }}</th>
                    <th>{{ tokenMap.token_2 ?? 'Токен 2' }}</th>
                    <th>{{ tokenMap.token_3 ?? 'Токен 3' }}</th>
                    <th>{{ tokenMap.token_4 ?? 'Токен 4' }}</th>
                    <th>{{ tokenMap.token_5 ?? 'Токен 5' }}</th>
                    <th>{{ tokenMap.token_6 ?? 'Токен 6' }}</th>
                    <th>{{ tokenMap.token_7 ?? 'Токен 7' }}</th>
                    <th>{{ tokenMap.token_8 ?? 'Токен 8' }}</th>
                    <th>{{ tokenMap.token_9 ?? 'Токен 9' }}</th>
                    <th>{{ tokenMap.token_10 ?? 'Токен 10' }}</th>
                    <th>{{ tokenMap.token_11 ?? 'Токен 11' }}</th>
                    <th>{{ tokenMap.token_12 ?? 'Токен 12' }}</th>
                    <th>{{ tokenMap.token_13 ?? 'Токен 13' }}</th>
                    <th>{{ tokenMap.token_14 ?? 'Токен 14' }}</th>
                    <th>{{ tokenMap.token_15 ?? 'Токен 15' }}</th>
                    <th>{{ tokenMap.token_16 ?? 'Токен 16' }}</th>
                </tr>
                </thead>
                <tbody>
                {% for lead in pagination %}
                    {% set difference = date(lead.createdAt).diff(date(lead.click.createdAt)) %}
                    <tr>
                        <td class="nobr">{{ lead.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ lead.updatedAt ? lead.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ difference.i }} мин. {{ difference.s }} сек.</td>
                        <td class="nobr">
                            ID: {{ lead.id }}<br>
                            <small>uuid: ({{ lead.uuid }})</small>
                        </td>
                        <td class="nobr">
                            ID: {{ lead.click.id }}<br>
                            <small>uuid: (<a href="#">{{ lead.click.uuid }}</a>)</small>
                        </td>
                        <td class="nobr">
                            ID: {{ lead.click.stream.id }}<br>
                            <small>uuid: (<a href="{{ path('cabinet_stream_show', {'id':lead.click.stream.id}) }}">{{ lead.click.stream.uuid }}</a>)</small><br>
                            <small>{{ lead.click.stream.name }}</small>
                        </td>
                        <td class="nobr"><img class="img-fluid img-thumbnail" src="/assets/img/flags/24/{{ lead.geo.iso2 }}.png" title="{{ lead.geo.nameRu }}"> {{ lead.geo.iso2 }}</td>
                        <td>
                            {% if lead.status == constant('App\\Entity\\Main\\Lead::STATUS_NEW') %}
                                <span class="badge bg-blue">{{ constant('App\\Entity\\Main\\Lead::STATUSES')[lead.status] }}</span>
                            {% elseif lead.status == constant('App\\Entity\\Main\\Lead::STATUS_CONFIRM') %}
                                <span class="badge bg-success-400">{{ constant('App\\Entity\\Main\\Lead::STATUSES')[lead.status] }}</span>
                            {% elseif lead.status == constant('App\\Entity\\Main\\Lead::STATUS_DECLINE') %}
                                <span class="badge bg-danger">{{ constant('App\\Entity\\Main\\Lead::STATUSES')[lead.status] }}</span>
                            {% elseif lead.status == constant('App\\Entity\\Main\\Lead::STATUS_TRASH') %}
                                <span class="badge bg-violet">{{ constant('App\\Entity\\Main\\Lead::STATUSES')[lead.status] }}</span>
                            {% else %}
                                <span class="badge bg-grey-400">Неизвесный статус ({{ lead.status }})</span>
                            {% endif %}
                        </td>
                        <td class="nobr">{{ lead.price }} {{ lead.currency.code }}</td>
                        <td>
                            <div class="nobr">Телефон: {{ lead.phone|slice(null, 7) }}****</div>
                            <div class="nobr">Имя: {{ lead.name }}<br></div>
                            <div>Комментарий: <small>{{ lead.comment }}</small></div>
                        </td>
                        <td class="nobr"><a href="https://who.is/whois-ip/ip-address/{{ lead.ipAddress.value }}" target="_blank">{{ lead.ipAddress.value }}</a></td>
                        <td>{{ lead.userAgent.value }}</td>
                        <td>{{ lead.getTokenByName('token_1')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_2')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_3')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_4')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_5')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_6')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_7')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_8')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_9')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_10')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_11')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_12')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_13')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_14')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_15')|slice(0, 30) }}</td>
                        <td>{{ lead.getTokenByName('token_16')|slice(0, 30) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{% trans %}records not found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
